
.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header {
    color: white;
    margin-top: 4rem;
    font-size: 2rem;
}

.toggleContainer{
    width: 2rem;
    height: 2rem;
    position: relative;
    top: 1rem;
}

.toggle {
    width: 11rem;
    height: 2rem;
    margin: 1rem;
    position: relative;
    right: 15rem;
    display: flex;
    cursor: pointer;

}

.text{
    color: white;
    margin: 1rem;
}